@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    -- --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
branco: #FFFFFF;
}

body {font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cor-de-fundo);
}

